<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Main page</title>
</head>
<body>
    <div class="AppTitle">
       <h1>Crypto Market <sup class="currency" onclick="changeCurrency()">USD</sup></h1>
    </div>
    <section class="MainTokens">
    </section>
    <div class="SearchbarDiv">
        <input type="text" placeholder="ðŸ” Search by symbol (ADA)" class="searchbar">
    </div>
    <section  class="TokenList">
        <div class="TokenInfos">
            <div> <span style="font-size: 15px;">#</span><span style="font-size: 10px;">&#9660;</span> </div>
            <div>Logo</div>
            <div><p style="float:left">Name</p></div>
            <div>Price</div>
            <div>Market Cap</div>
           
        </div>
            <div class="RestOfTokens">
        
        <!-- <a href="https://nomics.com" class="nomicsLink">Crypto Market Cap & Pricing Data Provided By Nomics</a> -->
    </section>
    <div class="ErrorDiv">
        <p class="ErrorMessage"></p>
    </div>
    <img src="../assets/images/loadingIndicator.gif" alt="loading indicator"  class="loadingIndicator">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../assets/js/main.js">

    </script>
</body>
</html>